* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .nav-item{
    margin-left: 40px;
    text-decoration: none;
  }

  .bg-warning{
    border-radius: 5px;
  }

  .bg-warning:hover{
    cursor: pointer;
    color: white;
  }
  
.navbar-nav{
    margin-left: 270px;
}

.fon{
    background-color:  #066e4f;
    padding-top: 20px;
}

.bg-dark {
    color: white;
    
    border-radius: 5px;
}

.bg-dark:hover{
    color: blue;
    cursor: pointer;
}

.color{
    color: white;
    
}

.cambio{
  text-decoration: none;
}

/* navbar.css */
.nav-link {
  text-decoration: none !important; /* Eliminar subrayado */
  color: white !important; /* Establecer el color de las letras en blanco */
}

/* Opcional: Cambiar color de los enlaces al pasar el ratón */
.nav-link:hover {
  color: #cccccc; /* Cambia este color al que desees para el hover */
}